<form asp-controller="Home" asp-action="SearchResults" method="get" class="relative">
    <input type="search" name="searchString" placeholder="Search..."
        class="bg-white rounded-lg px-4 py-2 border-mid font-lato text-sm pl-10 placeholder:text-zinc-300 text-zinc-600">
    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden fill="none" viewBox="0 0 24 24" stroke-width="1.5"
        stroke="currentColor" class="w-6 h-6 absolute top-2 left-2 stroke-zinc-600">
        <path stroke-linecap="round" stroke-linejoin="round"
            d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
    </svg>
</form>