<dialog data-modal class="p-0 backdrop:bg-gray-400 backdrop:bg-opacity-50 rounded-lg shadow-md">
    <form class="pt-10 px-6 py-3">
        <button data-close-modal formmethod="dialogue" title="Close Window" class="absolute right-2 top-2">
            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
        </button>

        <div class="">
            This is a model
        </div>
    </form>
</dialog>