@model BugscapeMVC.Models.ViewModels.AssignDeveloperViewModel 

@{
    ViewData["Title"] = "Assign Developer";
}

<h1 class="font-rockwell text-dark text-xl font-bold mb-2">@ViewData["Title"]</h1>
<h2 class="font-rockwell font-semibold text-lg text-zinc-700 mb-4">@Model.Ticket?.Title</h2>
<hr class="mb-4 h-[2px] rounded bg-mid border-0" />

<p class="font-lato mb-4 text-zinc-700">Select a developer to work on this ticket.</p>

<form method="post" asp-action="AssignDeveloper" asp-controller="Tickets" class="flex flex-col gap-4 prose">
    <input type="hidden" asp-for="Ticket!.Id">

    <div class="flex flex-col gap-2">
        <label class="font-lato text-zinc-700 text-sm font-semibold" asp-for="DeveloperId">Developer</label>
        <select asp-for="DeveloperId" asp-items="@Model.Developers" class="font-lato text-zinc-700">
            <option hidden disabled selected>Select a developer</option>
        </select>
    </div>

    <div class="flex justify-end">
        <input type="submit" value="Assign" class="px-4 py-2 text-sm rounded-md cursor-pointer bg-success font-lato hover:bg-opacity-80 transition-opacity">
    </div>
</form>
