@model BugscapeMVC.Models.Ticket

@{
    ViewData["Title"] = "Create New Ticket";
}

<head>
    <script src="/lib/tinymce/tinymce.min.js" referrerpolicy="origin"></script>
</head>

<h1 class="font-rockwell text-dark text-xl font-bold mb-4">@ViewData["Title"]</h1>
<hr class="mb-4" />

@if (ViewBag.Projects is not null && ViewBag.Projects.Items.Count > 0)
{
    <form asp-action="Create" method="post" class="grid grid-cols-1 lg:grid-cols-2 gap-4 mb-4">
        <div asp-validation-summary="ModelOnly" class="error"></div>
        
        <div class="flex flex-col lg:col-span-2 gap-2">
            <label asp-for="Title" class="font-lato text-sm font-bold"></label>
            <input asp-for="Title" class="font-lato text-sm" />
            <span asp-validation-for="Title" class="error"></span>
        </div>

        <div class="flex flex-col lg:col-span-2 gap-2">
            <label asp-for="Description" class="font-lato text-sm font-bold"></label>
            <textarea asp-for="Description" data-tinymce class="font-lato text-sm" rows="3"></textarea>
            <span asp-validation-for="Description" class="error"></span>
        </div>

        <div class="flex flex-col lg:col-span-2 gap-2">
            <label asp-for="ProjectId" class="font-lato text-sm font-bold"></label>
            <select asp-for="ProjectId" class="font-lato text-sm" asp-items="@ViewBag.Projects">
                <option disabled selected hidden class="font-lato text-sm">Choose Project</option>
            </select>
            <span asp-validation-for="ProjectId" class="error"></span>
        </div>

        <div class="flex flex-col gap-2">
            <label asp-for="TicketTypeId" class="font-lato text-sm font-bold"></label>
            <select asp-for="TicketTypeId" class="font-lato text-sm" asp-items="@ViewBag.TicketTypes">
                <option disabled selected hidden class="font-lato text-sm">Choose Type</option>
            </select>
            <span asp-validation-for="TicketTypeId" class="error"></span>
        </div>

        <div class="flex flex-col gap-2">
            <label asp-for="TicketPriorityId" class="font-lato text-sm font-bold"></label>
            <select asp-for="TicketPriorityId" class="font-lato text-sm" asp-items="@ViewBag.Priorities">
                <option disabled selected hidden class="font-lato text-sm">Choose Priority</option>
            </select>
            <span asp-validation-for="TicketPriorityId" class="error"></span>
        </div>

        <div class="lg:col-span-2 flex justify-end">
            <button type="submit" class="px-4 py-2 text-sm rounded-md bg-success font-lato hover:bg-opacity-80 transition-opacity">Create
                Ticket
            </button>
        </div>
    </form>
}
else
{
    <p class="font-lato text-zinc-700">You must be assigned to at least one project before creating a ticket.</p>
}

<script>
    tinymce.init({
        selector: '[data-tinymce]',
        menubar: false,
        statusbar: false,
        height: 200
    });
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
