@model BugscapeMVC.Models.Ticket

@{
    ViewData["Title"] = "Edit Ticket";
}

<head>
    <script src="/lib/tinymce/tinymce.min.js" referrerpolicy="origin"></script>
</head>

<h1 class="font-rockwell text-dark text-xl font-bold mb-4">@ViewData["Title"]</h1>
<hr class="mb-4" />

<form asp-action="Edit" method="post" class="grid grid-cols-1 lg:grid-cols-2 gap-4 mb-4">
    <div asp-validation-summary="ModelOnly" class="text-danger text-sm font-lato font-bold"></div>

    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="ProjectId" />
    <input type="hidden" asp-for="Created" />
    <input type="hidden" asp-for="Archived" />
    <input type="hidden" asp-for="OwnerUserId" />
    <input type="hidden" asp-for="DeveloperUserId" />
    
    <div class="flex flex-col lg:col-span-2 gap-2">
        <label asp-for="Title" class="font-lato text-sm font-bold"></label>
        <input asp-for="Title" class="font-lato text-sm" />
        <span asp-validation-for="Title" class="text-danger text-sm font-lato font-bold"></span>
    </div>

    <div class="flex flex-col lg:col-span-2 gap-2">
        <label asp-for="Description" class="font-lato text-sm font-bold"></label>
        <textarea asp-for="Description" data-tinymce class="font-lato text-sm" rows="3"></textarea>
        <span asp-validation-for="Description" class="text-danger text-sm font-lato font-bold"></span>
    </div>

    <div class="flex flex-col lg:col-span-2 gap-2">
        <label asp-for="TicketStatusId" class="font-lato text-sm font-bold"></label>
        <select asp-for="TicketStatusId" class="font-lato text-sm" asp-items="@ViewBag.Statuses">
            <option disabled selected hidden class="font-lato text-sm">Choose Status</option>
        </select>
        <span asp-validation-for="TicketStatusId" class="text-danger text-sm font-lato font-bold"></span>
    </div>

    <div class="flex flex-col gap-2">
        <label asp-for="TicketTypeId" class="font-lato text-sm font-bold"></label>
        <select asp-for="TicketTypeId" class="font-lato text-sm" asp-items="@ViewBag.TicketTypes">
            <option disabled selected hidden class="font-lato text-sm">Choose Type</option>
        </select>
        <span asp-validation-for="TicketTypeId" class="text-danger text-sm font-lato font-bold"></span>
    </div>

    <div class="flex flex-col gap-2">
        <label asp-for="TicketPriorityId" class="font-lato text-sm font-bold"></label>
        <select asp-for="TicketPriorityId" class="font-lato text-sm" asp-items="@ViewBag.Priorities">
            <option disabled selected hidden class="font-lato text-sm">Choose Priority</option>
        </select>
        <span asp-validation-for="TicketPriorityId" class="text-danger text-sm font-lato font-bold"></span>
    </div>

    <div class="lg:col-span-2 flex justify-end">
        <button type="submit" class="px-4 py-2 text-sm rounded-md cursor-pointer bg-success font-lato hover:bg-opacity-80 transition-opacity">Update
            Ticket
        </button>
    </div>
</form>

<script>
    tinymce.init({
        selector: '[data-tinymce]',
        menubar: false,
        statusbar: false,
        height: 200
    });
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}