@model BugscapeMVC.Models.Ticket
@using BugscapeMVC.Services.Interfaces

@inject IFileService FileService

@{
    ViewData["Title"] = "Restore Ticket";
}

<h1 class="font-rockwell text-dark text-xl font-bold mb-4">@ViewData["Title"]</h1>

<hr class="mb-4 h-[2px] rounded bg-mid border-0" />

<p class="font-lato mb-4 text-zinc-700">Are you sure you want to restore the ticket below?</p>

<div class="flex flex-wrap gap-4 mb-4">
    <div class="grow">
        <h2 class="font-rockwell mb-4 font-semibold text-zinc-700">@Model.Title</h2>

        <div class="prose max-w-none font-lato text-zinc-700">@Html.Raw(Model.Description)</div>
    </div>
</div>

<form asp-action="Restore" class="flex gap-2 items-center">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Restore" class="px-4 py-2 text-sm rounded-md cursor-pointer bg-warning font-lato hover:bg-opacity-80 transition-opacity" />
    <a asp-action="Index" class="px-4 py-2 text-sm rounded-md cursor-pointer bg-info font-lato hover:bg-opacity-80 transition-opacity">Back</a>
</form>