@page
@model IndexModel
@using BugscapeMVC.Services.Interfaces

@inject UserManager<AppUser> UserManager
@inject IFileService FileService


@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;

    AppUser? user = await UserManager.GetUserAsync(User);
    bool isSignedIn = user is not null ? true : false;
}

<h1 class="font-rockwell text-dark text-xl font-bold mb-4">@ViewData["Title"]</h1>
<partial name="_StatusMessage" for="StatusMessage" />

<form id="profile-form" method="post" class="space-y-4 max-w-xl">
    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
    <button type="button" data-open-modal aria-label="Update Profile Image" class="group relative w-fit">
        @if (user?.AvatarFileData is null || user.AvatarContentType is null)
        {
            <img class="h-40 w-40 object-cover rounded-full" src="~/images/default-avatar.png"
                alt="@user?.FullName">
        }
        else
        {
            <img class="h-40 w-40 object-cover rounded-full"
                src="@FileService.ConvertByteArrayToFile(user.AvatarFileData, user.AvatarContentType)"
                alt="@user.FullName">
        }
        <span class="opacity-0 group-hover:opacity-100 transition-opacity absolute bg-opacity-70 text-sm font-lato right-2 top-2 bg-mid rounded p-2" title="Edit Profile Picture">
            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
            </svg>
        </span>
    </button>
    
    <div class="flex flex-col gap-2">
        <label asp-for="Username" class="font-lato font-bold text-sm"></label>
        <input asp-for="Username" class="font-lato text-sm disabled:bg-gray-200" disabled />
    </div>
    <div class="flex flex-col gap-2">
        <label asp-for="Input.PhoneNumber" class="font-lato font-bold text-sm"></label>
        <input asp-for="Input.PhoneNumber" class="font-lato text-sm" placeholder="Please enter your phone number."/>
        <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
    </div>
    <div class="flex justify-end">
        <button id="update-profile-button" type="submit" class="px-4 py-2 text-sm rounded-md cursor-pointer bg-success font-lato font-bold hover:bg-opacity-80 transition-opacity">Save</button>
    </div>
</form>

@await Html.PartialAsync("~/Views/Shared/_UpdateProfileImage.cshtml")

@section Scripts {
    <script src="~/js/modal.js"></script>
    <script>
        const instance = new Modal();
        instance.init();
    </script>
    <partial name="_ValidationScriptsPartial" />
}
