@page
@model ShowRecoveryCodesModel
@{
    ViewData["Title"] = "Recovery Codes";
    ViewData["ActivePage"] = "TwoFactorAuthentication";
}

<partial name="_StatusMessage" for="StatusMessage" />
<h2 class="font-rockwell text-dark text-xl font-bold mb-4">@ViewData["Title"]</h2>
<div class="border border-danger bg-danger bg-opacity-20 max-w-xl space-y-4 font-lato px-6 py-3 mb-4" role="alert">
    <p>
        <strong class="text-dark font-bold">Put these codes in a safe place.</strong>
    </p>
    <p class="text-dark">
        If you lose your device and don't have the recovery codes you will lose access to your account.
    </p>
</div>

<div class="space-y-4 max-w-xl">
    @for (var row = 0; row < Model.RecoveryCodes.Length; row += 2)
    {
        <code class="block w-fit bg-dark rounded-md tracking-wider px-4 py-2 text-white">@Model.RecoveryCodes[row] @Model.RecoveryCodes[row + 1]</code>
    }
</div>

