@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header class="space-y-4">
    <h1 class="text-danger font-rockwell text-xl font-bold">@ViewData["Title"]</h1>
    <p class="text-dark font-lato">You do not have access to this resource.</p>
</header>
