@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot Password Confirmation";
}

<section class="rounded-md bg-white px-6 py-3 mx-auto shadow-md max-w-screen-sm space-y-4">
    <h1 class="font-rockwell text-dark text-xl font-bold">@ViewData["Title"]</h1>

    <hr class="h-[2px] rounded bg-mid border-0" />
    
    <p class="font-lato text-zinc-700">Please check your email to reset your password.</p>
</section>
