@page
@model LoginModel

@{
    ViewData["Title"] = "Sign In";
}

<section class="rounded-md bg-white px-6 py-3 mx-auto shadow-md max-w-screen-sm space-y-4">
    <h1 class="font-rockwell text-dark text-xl font-bold">@ViewData["Title"]</h1>

    <hr class="h-[2px] rounded bg-mid border-0" />

    <form id="account" method="post" class="space-y-4">
        <div asp-validation-summary="ModelOnly" class="error" role="alert"></div>
        <div class="flex flex-col gap-2">
            <label asp-for="Input.Email" class="font-lato text-zinc-700 text-sm font-bold">Email</label>
            <input asp-for="Input.Email" autocomplete="username" aria-required="true" />
            <span asp-validation-for="Input.Email" class="error"></span>
        </div>

        <div class="flex flex-col gap-2">
            <label asp-for="Input.Password" class="font-lato text-zinc-700 text-sm font-bold">Password</label>
            <input asp-for="Input.Password" autocomplete="current-password" aria-required="true" />
            <span asp-validation-for="Input.Password" class="error"></span>
        </div>

        <div class="flex justify-between items-center gap-2">
            <div>
                <label asp-for="Input.RememberMe" class="font-lato text-zinc-700 text-sm font-bold flex items-center gap-2">
                    <input asp-for="Input.RememberMe" />
                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                </label>
            </div>
            <button id="login-submit" type="submit" class="px-4 py-2 text-sm rounded-md cursor-pointer bg-success font-lato hover:bg-opacity-80 transition-opacity">Log In</button>
        </div>

        <hr class="h-[2px] rounded bg-mid border-0" />

        <div class="font-lato justify-center md:justify-between text-sm flex flex-wrap gap-2">
            <a class="w-fit bg-info text-white uppercase px-2 py-1 rounded-md text-xs font-bold hover:bg-opacity-80 transition-opacity" id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
            <a class="w-fit bg-info text-white uppercase px-2 py-1 rounded-md text-xs font-bold hover:bg-opacity-80 transition-opacity" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
            <a class="w-fit bg-info text-white uppercase px-2 py-1 rounded-md text-xs font-bold hover:bg-opacity-80 transition-opacity" id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
        </div>
    </form>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
